version: "3.8"

services:

  backend:
    image: node:18
    container_name: backend
    working_dir: /app
    ports:
      - "5000:5000"
    depends_on:
      - database
    restart: always
    networks:
      - app-network
   

  frontend:
    image: nginx:alpine
    container_name: frontend
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
    depends_on:
      - backend
    restart: always
    networks:
      - app-network

  database:
    image: postgres:15
    container_name: database
    environment:
      POSTGRES_DB: appdb
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: password
    volumes:
      - db-data:/var/lib/postgresql/data
    restart: always
    networks:
      - app-network

volumes:
  db-data:
   

networks:
  app-network:
    

